<html>
	<head>
		<title> y r u gay </title>
	</head>
	<body>
		<div>
			<h1><a href='/'> pc master race blog </a></h1>
		</div>
	    
		<div>
			<p> ya ustal seichas </p>
			<h2><a href=""> moi perviy post </a></h2>
			<p> ayyyyyyy lnmadf ;fkd;gkljsd;f fdjg;sdfjgkj jfdjgjdfkl d sdfdlkgjldkf jdflgjlfd gj dfjgl fljsdlk djgd jgdfkg </p>
		</div>

		<div>
			<p> ya ustal potom </p>
			<h2><a href=""> moi ne perviy post </a></h2>
			<p> ayyyyyyy lnmadf ;fkd;gkljsd;f fdjg;sdfjgkj jfdjgjdfkl d sdfdlkgjldkf jdflgjlfd gj dfjgl fljsdlk djgd jgdfkg </p>
		</div>
    </body>
</html>